{% extends "base.html" %}
<body>
{% block content %}
{#<table class="table">#}
{#{% for obj in object_list %}#}
{#    <tr>#}
{#        <td><a href = '{{ obj.get_absolute_url }}'>{{obj.title}}</a></td>#}
{#    </tr>#}
{#{% endfor %}#}
{#</table>#}
<div class = "row">
{#          {% for product in object_list %}#}
{#                <div class ='col-xs-10'>#}
{#                    {% include "products/product_thumbnail.html" with product=product %}#}
{#                </div>#}
{#          {% endfor %}#}
{% include "Products/products.html" with product=product %}
    </div>
{% endblock %}
</body>
