{% extends "base.html" %}
{#    <script>#}
{##}
{#{% block js %}#}
{##}

{#}#}
{##}

{##}
{#     $('#submit-btn').click(function(event){#}
{#        event.preventDefault();#}
{#        var formData = $('#add-form').serialize();#}
{#        console.log(formData);#}
{#        });#}
{#{% endblock %}#}
{#</script>#}




{% block content %}

    <script type="text/javascript">
                {% block jquery %}


        $(document).ready(function() {
{#            function setPrice(){#}
{#                var price = $(".variation_select option:selected").attr("data-price")#}
{#                $("#price").text(price);#}
{#                var sale_price = $(".variation_select option:selected").attr("sale_price")#}
{#                 if (sale_price != "" && sale_price != "None" && sale_price !=null){#}
{#                    $("#price").html("<h3>" + sale_price + "<small style='text-decoration:line-through'>" + price + "</small></h3>");#}
{#                     }else {#}
{#                    $("#price").text(price);#}
{#                    }#}
            {#  Red Change to html tag with price id              #}
{#                $("#price").css("color","red")#}
{#                var price = $(".variation_select option:selected").attr("data-price")#}
{#                $("#price").text(price);#}
{#                Chanign price based on selection#}
{#                $('.variation_select').change(function () {#}
{#                    setPrice()#}
{#                });#}

            $('#submit-btn').click(function(event){
                event.preventDefault();
                var formData = $('#add-form').serialize();
                console.log(formData);

                $.ajax({
                    type:"GET",
                    url:"{% url 'cart' %}",
                    data: formData,
                    success: function(data){
                        $("#jquery-message").text("Added " + data.item_Added +
                                                  " Deleted " + data.deleted)
                        console.log(data)
                    },
                    error: function(response, error){
{#                        console.log(response)#}
{#                        console.log(error)#}
                        $("#add-form").submit()
                    }
                })
            });
        });
                {% endblock %}
    </script>
    <div class='row'>
        <div class="col-sm-8">
        {{ object.title }}
{#        {% if object.productimage_set.count > 0 %}#}
{#            <div>#}
{#                {% for img in object.productimage_set.all %}#}
{#                <img class = 'img-responsive' src='{{ img.image.url }}' />#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
         {% if object.get_iamge_url %}
            <div>
                <img class = 'img-responsive' src='{{ object.get_iamge_url }}' />
            </div>
        {% endif %}

        <br/>


        <p class = 'lead'>
            {{ object.description }}
        </p>
    </div>

     <!-- Product Sidebar -->
     <div class="col-sm-4">
        <form id = 'add-form' method = 'GET' action="{% url 'cart' %}">
        <p class="lead" id ="jquery-message">

        </p>
                 {% if object.variations_set.count > 1 %}
                     <h3 id="price">{{ object.price }}</h3>

                     <select name = 'item' class="form-control variation_select">
                        {% for var_obj in object.variations_set.all %}
                            <option data-sale_price = "{{ var_obj.sale_price }} "data-price="{{ var_obj.price }}" value="{{ var_obj.id }}">{{ var_obj }}</option>
                        {% endfor %}
                    </select>
                 {% else %}
                     <br>
                        <input type="hidden" name="item" value="{{ object.variation_set.first.id }}" />
                           <h3 id="price">
                               {% if object.variations_set.first.sale_price %}
                                   {{ object.variation_set.first.sale_price }}
                                    <small class = 'og-price'>{{ object.variation_set.first.price }}</small>
                               {% else %}
                                   {{ object.variations_set.first.price }}
                               {% endif %}
                           </h3>
                 {% endif %}
        <br />
        <br />
                    <input class="form-control" type = 'number' name="qty" value="1" />
                <br />
             <input id = 'submit-btn' type="submit" class="btn btn-default" value="Add to Cart" />
        </form>
{#     END OF PRODUCT VARIATION AND ADD TO CART FEATURES#}

{#     SHARING OPTIONS#}
      <p>
         Share Product on Social Media <br/>
         <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
           <i class="fa fa-facebook-square" aria-hidden="true"></i>
         </a>
         <a href="#">
           <i class="fa fa-twitter" aria-hidden="true"></i>
         </a>
     </p>
     <h4>Related Products</h4>
     <div class = 'row'>
          {% for product in related %}
              <div class ='col-xs-7'>
                <div class="thumbnail text-muted" >
                    {% if product.get_iamge_url %}
                        <a href = '{{ product.get_absolute_url }}'>
                            <img class = 'img-responsive' src='{{ product.get_iamge_url }}' /> <br/>
                        </a>
                    {% endif %}
                        <div class="{{ product.get_absolute_url }}">
                            <h7>{{ product.title }}</h7>
                        </div>
                </div>
              {% cycle '' '</div><div class="row">' %}   {# closes up the row, to avoid clogging of items on sidebar#}
          {% endfor %}
               </div>
     </div>

{#         <a href = '{{ product.get_absolute_url }}'>{{ product.title }}</a> <br/>#}
     </div>
</div>


{% endblock %}


