{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
    <div class='row'>
        <div class="col-sm-8">
        {{ object.title }}
        {% if object.productimage_set.count > 0 %}
            <div>
                {% for img in object.productimage_set.all %}
                <img class = 'img-responsive' src='{{ img.image.url }}' />
                {% endfor %}
            </div>
        {% endif %}
        <br/>


        <p class = 'lead'>
            {{ object.description }}
        </p>
    </div>

     <!-- Product Sidebar -->
     <div class="col-sm-4">
        <h3 id="price">{{ object.price }}</h3>
         {% if object.variations_set.count > 1 %}
            <select class="form-control variation_select">
            {% for var_obj in object.variations_set.all %}
                <option data-price="{{ var_obj.price }}" value="{{ var_obj.id }}">{{ var_obj }}</option>
            {% endfor %}
            </select>
         {% else %}
        <br>
            <a href="#">Add to Cart</a>
        <br>
         {% endif %}
     <br/>
     <br/>
     <p>
         Share Product on Social Media <br/>
         <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
           <i class="fa fa-facebook-square" aria-hidden="true"></i>
         </a>
         <a href="#">
           <i class="fa fa-twitter" aria-hidden="true"></i>
         </a>
     </p>
     <h4>Related Products</h4>
     </div>
</div>
{% endblock %}

    # Jquery Stuffs.
<script>
     {% block jquery %}
                $("#price").css("color","red")
                var price = $(".variation_select option:selected").attr("data-price")
                $("#price").text(price);
{#                Chanign price based on selection#}
                $('.variation_select').change(function () {
                    var price = $(".variation_select option:selected").attr("data-price")
                    $("#price").text(price);
                })
            {% endblock %}
</script>

</body>
</html>
